html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section {
  display: flex;
}
.account {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-dark {
  background-color: #12002b;
  padding: 30px 0 30px 0;
}

.bg-dark-login {
  background-color: #12002b;
  padding: 30px 0 30px 0;
  height: calc(100vh - 60px - 86px);
}

.welcome-title {
  margin: 0;
  padding-top: 30px;
}

.account-content-wrapper.cta {
  box-sizing: border-box;
  display: flex;
}

.logout-button-text {
  display: none;
}

.main-nav-item .logout-button {
  margin: 0;
}

.user {
  display: inline;
}

.fa-right-from-bracket {
  font-size: small;
}

.feature-item {
  position: relative;
  box-sizing: border-box;
  padding: 2rem;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

.main-nav {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px;
}

.main-nav a {
  font-weight: bold;
  color: #2c3e50;
}

.main-nav a.router-link-exact-active {
  color: #42b983;
}

.main-nav-item {
  text-decoration: none;
  margin-right: 0.2rem;
  font-size: 15px;
}

.fa-circle-user {
  padding-right: 0.2rem;
  font-size: small;
}

.main-nav-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.main-nav-logo {
  display: flex;
  align-items: center;
}

.main-nav-logo-image {
  max-width: 70%;
  width: 200px;
}

.hero {
  width: 100%;
  object-position: 0 -50px;
  object-fit: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
}

.hero-content {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 200px;
  background: white;
  padding: 2rem;
  text-align: left;
  margin: 0 auto;
  display: block;
}

.hero-content .subtitle {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}

.hero-content .text {
  margin-bottom: 0;
  font-size: 0.9rem;
}
.features {
  display: flex;
  flex-direction: column;
}

.feature-icon {
  width: 100px;
  border: 10px solid #00bc77;
  border-radius: 50%;
  padding: 1rem;
}

.feature-item {
  flex: 1;
}

.feature-item-title {
  color: #222;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.sign-in-button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  cursor: pointer;
}

.sign-in-content {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
  display: block;
}

#form-icon {
  font-size: 35px;
}

.sign-in-icon {
  font-size: 5rem;
}

.input-remember {
  display: flex;
}

.input-remember label {
  margin-left: 0.25rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}

.input-wrapper label {
  font-weight: bold;
}

.input-wrapper input {
  padding: 5px;
  font-size: 1.2rem;
}

.footer {
  display: flex;
  justify-content: center;
  border-top: 2px solid #ccc;
  padding: 2rem 0 1.5rem;
}

.footer-text {
  margin: 0;
  padding: 0;
}

.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 2rem;
}

.account-amount {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

.account-amount-description {
  margin: 0;
}

.account-title {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
}

.account-content-wrapper {
  width: 100%;
  flex: 1;
}

.edit-button {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}

.header {
  color: #fff;
  margin-bottom: 2rem;
}

.transaction-button {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  text-decoration: none;
}

.selected-option {
  padding: 0 15px;
}

.transaction-type,
.note,
.custom-select {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.logout-button {
  background: none;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: #2c3e50;
}

.fa-right-from-bracket {
  padding-right: 5px;
}

.balance-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.error-page {
  height: calc(100vh - 60px - 86px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.return-link {
  color: black;
}

.error-title {
  color: red;
  font-size: 100px;
  margin: 100px 5px 0;
}

.error-subtitle {
  color: red;
  font-size: 35px;
  padding: 0 10px;
}

@media (min-width: 920px) {
  .home {
    height: calc(100vh - 60px - 86px);
    box-sizing: border-box;
  }

  .main-nav-logo-image {
    max-width: 100%;
    width: 200px;
  }

  .main-nav-item {
    font-size: 18px;
  }

  .hero {
    height: 400px;
    object-position: 0% 33%;
  }

  .hero-content {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 300px;
    margin: 2rem;
  }

  .hero-content .subtitle {
    font-size: 1.5rem;
  }

  .hero-content .text {
    font-size: 1.2rem;
  }

  .features {
    flex-direction: row;
  }

  .fa-circle-user {
    font-size: medium;
  }

  .account-amount {
    font-size: 2.5rem;
  }
  .main .bg-dark {
    height: calc(100vh - 60px - 86px);
  }

  .error-page {
    justify-content: center;
  }

  .error-title {
    font-size: 150px;
    margin-top: 0;
  }

  .error-subtitle {
    font-size: 50px;
  }
}

@media (min-width: 720px) {
  .main .bg-dark {
    height: calc(100vh - 60px - 86px);
  }

  .main-nav-item {
    font-size: 18px;
  }

  .account {
    flex-direction: row;
  }

  .account-content-wrapper.cta {
    flex: 0;
  }

  .transaction-button {
    width: 200px;
  }

  section {
    display: block;
  }
  .logout-button-text {
    display: inline;
  }

  .footer {
    align-content: flex-end;
  }
  .error-page {
    justify-content: center;
  }

  .error-title {
    font-size: 150px;
    margin-top: 0;
  }

  .error-subtitle {
    font-size: 50px;
  }
}
